* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(76.3deg, #2c3e4e 12.6%, #456783 82.8%);
}

.izquierda {
  float: left;
}

.derecha {
  float: right;
}

header .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  margin-bottom: 10px;
  color: #c9cee1;
}

header .contenedor h1 {
  padding-right: 10px;
  border-right: 2px solid #a3a3a3;
}

header .contenedor .logo {
  padding-top: 2px;
  padding-left: 10px;
}

header .contenedor .logo i {
  font-size: 40px;
}

header .contenedor .boton {
  display: block;
  margin-left: auto;
  color: #c9cee1;
  font-size: 20px;
  padding: 10px 20px;
  border: 2px solid rgba(201, 206, 225, 0.2);
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-family: 'Open Sans';
}

header .contenedor .boton:hover {
  border: 2px solid #c9cee1;
}

.fotos .contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fotos .contenedor:hover .thumb:not(:hover) {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border: 1px solid #000;
}

.fotos .thumb {
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
  border: 1px solid #ccc;
  width: 22%;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.fotos .thumb a {
  display: block;
}

.fotos .thumb a img {
  width: 100%;
  vertical-align: top;
}

.fotos .paginacion {
  width: 100%;
  margin-top: 20px;
}

.fotos .paginacion a {
  color: #80ffdb;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 50px;
  border: 1px solid rgba(204, 204, 204, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.fotos .paginacion a:hover {
  border: 1px solid #fff;
  text-decoration: none;
}

.contenedor .foto {
  padding: 30px;
  background: #ccc;
  width: 100%;
  margin: auto;
  max-width: 600px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}

.contenedor .foto .titulo {
  text-align: center;
  padding-bottom: 15px;
  color: #444444;
  font-family: 'Montserrat', sans-serif;
}

.contenedor .foto img {
  width: 100%;
}

.contenedor .foto .descripcion {
  margin-top: 20px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 25px;
}

.contenedor .foto .boton {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid rgba(0, 29, 252, 0.2);
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-family: 'Open Sans';
}

.contenedor .foto .boton:hover {
  border: 2px solid #001dfc;
}

.contenedor .subirfoto {
  color: #f8f8f8;
  width: 100%;
  max-width: 600px;
  padding: 30px;
  margin: auto;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}

.contenedor .subirfoto h1 {
  margin-bottom: 20px;
}

.contenedor .formulario label {
  display: block;
  margin-bottom: 10px;
}

.contenedor .formulario input[type="text"],
.contenedor .formulario input[type="file"],
.contenedor .formulario textarea {
  width: 100%;
  margin-bottom: 30px;
}

.contenedor .formulario input[type="text"],
.contenedor .formulario textarea {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenedor .formulario textarea {
  min-height: 76px;
  max-height: 150px;
  max-width: 100%;
  min-width: 100%;
}

.contenedor .formulario input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: 'Open Sans';
  border: 2px solid rgba(0, 29, 252, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenedor .formulario input[type="submit"]:hover {
  background-color: rgba(0, 29, 252, 0.7);
  color: #f8f8f8;
}

.contenedor .formulario input[type="text"]:hover, .contenedor .formulario input[type="text"]:focus,
.contenedor .formulario textarea:hover,
.contenedor .formulario textarea:focus {
  -webkit-box-shadow: inset 0px 0px 12px 0px #001dfc;
          box-shadow: inset 0px 0px 12px 0px #001dfc;
}

.contenedor .error {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  vertical-align: center;
  background-color: #ccc;
  width: 90%;
  max-width: 700px;
  margin: auto;
  padding: 30px;
  text-align: center;
}

.contenedor .error p {
  fontsize: 20px;
  color: #a91414;
}

.contenedor .error .msg-error {
  display: block;
  font-size: 80px;
}

.contenedor .error .msg-error i {
  font-size: 100px;
  margin-bottom: 100px;
}

.contenedor .error .boton {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid rgba(0, 29, 252, 0.2);
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-family: 'Open Sans';
}

.contenedor .error .boton:hover {
  border: 2px solid #001dfc;
}
/*# sourceMappingURL=style.css.map */